{
  "env": {
    "TEST": {
      "presets": ["env", "power-assert"],
      "plugins": ["istanbul", "transform-runtime"]
    },
    "ENV": {
      "presets": ["env"],
      "plugins": ["transform-runtime"]
    },
    "BUILD": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}